.link-container a,
.shake1, .shake2 {
	display:inline-block;
	position:relative;
}
.link-container a:hover,
.shake1:hover, .shake2:hover {
	-webkit-animation-duration: 1.0s;
		-moz-animation-duration: 1.0s;
			animation-duration: 1.0s;
	-webkit-transform-origin:50% 50%;
		-moz-transform-origin:50% 50%;
			transform-origin:50% 50%;
	-webkit-animation-iteration-count: 0.45;
		-moz-animation-iteration-count: 0.45;
			animation-iteration-count: 0.45;
	-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
			animation-timing-function: linear;
}

.shake1:hover{
	-webkit-animation-name: linkQuake1;
		-moz-animation-name: linkQuake1;
			animation-name: linkQuake1;
}

.shake2:hover{
	-webkit-animation-name: linkQuake2;
		-moz-animation-name: linkQuake2;
			animation-name: linkQuake2;
}

@keyframes linkQuake1 {
	0%   { 
		transform: translate(2px, 1px)   rotate(-10deg); 
	}
	10%  { 
		transform: translate(-1px, -2px) rotate(-11deg); 
	}
	20%  { 
		transform: translate(-3px, 0px)  rotate(-9deg); 
	}
	30%  { 
		transform: translate(0px, 2px)   rotate(-10deg); 
	}
	40%  { 
		transform: translate(1px, -1px)  rotate(-9deg); 
	}
	50%  { 
		transform: translate(-1px, 1px)  rotate(-11deg); 
	}
	60%  { 
		transform: translate(-3px, -2px)  rotate(-10deg); 
	}
	70%  { 
		transform: translate(2px, 1px)   rotate(-11deg); 
	}
	80%  { 
		transform: translate(-1px, -2px) rotate(-9deg); 
	}
	90%  { 
		transform: translate(2px, -1px)   rotate(-10deg); 
	}
	100% { 
		transform: translate(1px, -2px)  rotate(-9deg); 
	}
}

@-moz-keyframes linkQuake1 { /* Firefox */
	0%   { 
		-moz-transform: translate(2px, 1px)   rotate(-10deg); 
	}
	10%  { 
		-moz-transform: translate(-1px, -2px) rotate(-11deg); 
	}
	20%  { 
		-moz-transform: translate(-3px, 0px)  rotate(-9deg); 
	}
	30%  { 
		-moz-transform: translate(0px, 2px)   rotate(-10deg); 
	}
	40%  { 
		-moz-transform: translate(1px, -1px)  rotate(-9deg); 
	}
	50%  { 
		-moz-transform: translate(-1px, 1px)  rotate(-11deg); 
	}
	60%  { 
		-moz-transform: translate(-3px, -2px)  rotate(-10deg); 
	}
	70%  { 
		-moz-transform: translate(2px, 1px)   rotate(-11deg); 
	}
	80%  { 
		-moz-transform: translate(-1px, -2px) rotate(-9deg); 
	}
	90%  { 
		-moz-transform: translate(2px, -1px)   rotate(-10deg); 
	}
	100% { 
		-moz-transform: translate(1px, -2px)  rotate(-9deg); 
	}
}

@-webkit-keyframes linkQuake1 { /* Safari and Chrome */
	0%   { 
		-webkit-transform: translate(2px, 1px)   rotate(-10deg); 
	}
	10%  { 
		-webkit-transform: translate(-1px, -2px) rotate(-11deg); 
	}
	20%  { 
		-webkit-transform: translate(-3px, 0px)  rotate(-9deg); 
	}
	30%  { 
		-webkit-transform: translate(0px, 2px)   rotate(-10deg); 
	}
	40%  { 
		-webkit-transform: translate(1px, -1px)  rotate(-9deg); 
	}
	50%  { 
		-webkit-transform: translate(-1px, 1px)  rotate(-11deg); 
	}
	60%  { 
		-webkit-transform: translate(-3px, -2px)  rotate(-10deg); 
	}
	70%  { 
		-webkit-transform: translate(2px, 1px)   rotate(-11deg); 
	}
	80%  { 
		-webkit-transform: translate(-1px, -2px) rotate(-9deg); 
	}
	90%  { 
		-webkit-transform: translate(2px, -1px)   rotate(-10deg); 
	}
	100% { 
		-webkit-transform: translate(1px, -2px)  rotate(-9deg); 
	}
}

@keyframes linkQuake2 {
	0%   { 
		transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		transform: translate(1px, -2px)  rotate(-1deg); 
	}
}

@-moz-keyframes linkQuake2 { /* Firefox */
	0%   { 
		-moz-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-moz-transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		-moz-transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		-moz-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-moz-transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		-moz-transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		-moz-transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		-moz-transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		-moz-transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		-moz-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-moz-transform: translate(1px, -2px)  rotate(-1deg); 
	}
}

@-webkit-keyframes linkQuake2 { /* Safari and Chrome */
	0%   { 
		-webkit-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-webkit-transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		-webkit-transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		-webkit-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-webkit-transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		-webkit-transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		-webkit-transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		-webkit-transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		-webkit-transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		-webkit-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-webkit-transform: translate(1px, -2px)  rotate(-1deg); 
	}
}